.flex_wrapper {
    margin-top: 2em;
    display: flex;
    .flex_column {
        padding: 1em;
        border: 1px solid blueviolet;
        .calendar_day {
            color: blueviolet;
        }
        .time_slot {
            margin: 1em 0;
            &.unavailable {
                background-color: lightgray;
            }
            &.available {
                background-color: lightgreen;
            }
        }
    }
}

span.action {
    color: blueviolet;
}